/*Grupo:
Anna Flavia
Alírio Virgolino
Edson Henrique dos Santos
Construir uma página completa:*/

body {
    position: relative;
    font-family: "Arial";
    font-size: 12px;
  }
  
  
  header {
    height: 150px;
    background-color: #CCC;
    position: relative;
  }
  
  nav {
    bottom: 0px;
    position: absolute
  }
  
  #conteudo {
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  article {
    width: 800px;
    float: left;
  }
  
  section {
    text-align: justify;
  }
  
  section h2 {
    font-size: 14px;
  }
  
  
  aside {
    margin-left: 800px;
  }
  
  
  footer {
    height: 40px;
    padding-top: 20px;
    color:#323232; text-decoration: none; padding:0px 4px;
    text-align: justify;
    
  }
  